In [ ]:
keys = ["213d94fbcbe941269843d7d2b26440b0",
        "e39c640df8fc4b489eac62b6e6150d06",
        "ebd1991e97d947ff89f3516fcbcd8ad1",
        ]

In [30]:
def bls_pull(registration_key, area_code, start_year, end_year):
    
    industries = {
        "10"   : "total",
        "101"  : "goods_producing",
        "1011" : "natural_resources_and_mining",
        "1012" : "construction",
        "1013" : "manufacturing",
        "102"  : "service-providing",
        "1021" : "trade_transportation_and_utilities",
        "1022" : "information",
        "1023" : "financial_activities",
        "1024" : "professional_and_business_services",
        "1025" : "education_and_health_services",
        "1026" : "leisure_and_hospitality",
        "1027" : "other_services",
        "1028" : "public_administration",
        "1029" : "unclassified"
    }

    owners = {
        "0" : "total_covered",
        "5" : "private",
        "3" : "local_govt",
        "2" : "state_govt",
        "1" : "federal_govt",
        "8" : "total_govt",
        "9" : "total_ui_covered" # excludes federal govt
    }

    data_names = {
        "1" : "all_employees",
        "4" : "avg_weekly_wage"
    }



    json_dicts = {}

    for i_code, i_name in industries.items():

        for d_code, d_name in data_names.items():

            headers = {'Content-type': 'application/json'}
            data = json.dumps({"seriesid": ['ENU'+ area_code + d_code + '05' + i_code],'registrationkey': registration_key, 
                               "startyear": start_year, "endyear": end_year})
            p = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
            json_data = json.loads(p.text)
            
    return json_data

In [21]:
            json_dicts[i_name + '_' + d_name] = json_data['Results']['series'][0]['data']

    bad_keys = []
    for i in json_dicts:
        if len(json_dicts[i]) == 0:
            bad_keys.append(i) 

    for i in bad_keys:
        del json_dicts[i]




    df_dicts = {}

    for i in json_dicts:
        df_dicts[i] = pd.DataFrame(json_dicts[i])

    for i in df_dicts:

        if 'avg_weekly_pay' in i:
            df_dicts[i][i] = df_dicts[i]['value']
            df_dicts[i]['date'] = df_dicts[i].apply(lambda x: x['year'] + x['period'][1:], axis=1)
            df_dicts[i] = pd.concat([df_dicts[i]['date'], df_dicts[i][i]], axis=1)

        elif 'all_employees' in i:
            df_dicts[i][i] = df_dicts[i]['value']
            df_dicts[i]['date'] = df_dicts[i].apply(lambda x: x['year'] + x['period'][1:], axis=1)
            df_dicts[i] = pd.concat([df_dicts[i]['date'], df_dicts[i][i]], axis=1)

        cols = [j for j in df_dicts[i] if j != 'date']
        df_dicts[i][cols] = df_dicts[i][cols].apply(pd.to_numeric, errors='coerce')

    for df_key in df_dicts:

        wp_mask = df_key.split('all')[0] + 'avg_weekly_pay'

        if 'all_employees' in df_key:

            df_dicts[df_key][wp_mask] = 0

            for index, period in df_dicts[df_key]['date'].iteritems():
                if period[4:] in ['01', '02', '03']:
                    df_dicts[df_key].loc[index, wp_mask] = 4 * df_dicts[wp_mask][df_dicts[wp_mask]['date']==(period[:4]+'01')][wp_mask].iloc[0]
                if period[4:] in ['04', '05', '06']:
                    df_dicts[df_key].loc[index, wp_mask] = 4 * df_dicts[wp_mask][df_dicts[wp_mask]['date']==(period[:4]+'02')][wp_mask].iloc[0]
                if period[4:] in ['07', '08', '09']:
                    df_dicts[df_key].loc[index, wp_mask] = 4 * df_dicts[wp_mask][df_dicts[wp_mask]['date']==(period[:4]+'03')][wp_mask].iloc[0]
                if period[4:] in ['10', '11', '12']:
                    df_dicts[df_key].loc[index, wp_mask] = 4 * df_dicts[wp_mask][df_dicts[wp_mask]['date']==(period[:4]+'04')][wp_mask].iloc[0]

            df_dicts[df_key].rename(columns={wp_mask: df_key.split('all')[0] + 'avg_monthly_pay'}, inplace=True)
            df_dicts[df_key][df_key.split('all')[0] + 'aggr_value'] = df_dicts[df_key][df_key] * df_dicts[df_key][df_key.split('all')[0] + 'avg_monthly_pay']

    merged_df = pd.DataFrame(columns=['date'])

    for df_key in df_dicts:
        if 'all_employees' in df_key:
            merged_df = pd.merge(merged_df, df_dicts[df_key], how = 'outer', on ='date')

    temp_merge = merged_df.drop('date', axis=1)
    temp_cols = [i for i in temp_merge.columns if 'aggr_val' in i]
    merged_df['total_industries_aggr_value'] = temp_merge[temp_cols].apply(lambda x: sum(x), axis=1)
    
    #Reverses Dates:
    merged_df = merged_df[::-1]
    #Formates Dates year and month split
    merged_df['date'] = [x[:4]+'-'+x[4:8] for x in merged_df['date']]
    
    return pd.DataFrame(merged_df)

In [1]:
import requests
import json
import pandas as pd
import numpy as np

In [23]:
def bls_pull(registration_key, area_code, start_year, end_year):
    
    



    industries = {'11': 'natural_resources_mining',
                  '12': 'construction',
                  '13': 'manufacturing',
                  '21': 'trade_transportation_utilities',
                  '22': 'information',
                  '23': 'financial_activities',
                  '24': 'professional_business_services',
                  '25': 'education_health_services',
                  '26': 'leisure_hospitality',
                  '27': 'other_services',
                  '28': 'public_administration',
                  '29': 'unclassified'}

    data_names = {'1': 'all_employees',
                  '4': 'avg_weekly_pay'}




    json_dicts = {}

    for i_code, i_name in industries.items():

        for d_code, d_name in data_names.items():

            headers = {'Content-type': 'application/json'}
            data = json.dumps({"seriesid": ['ENU'+ area_code + d_code + '0510' + i_code],'registrationkey': registration_key, 
                               "startyear": start_year, "endyear": end_year})
            p = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
            json_data = json.loads(p.text)

            json_dicts[i_name + '_' + d_name] = json_data['Results']['series'][0]['data']

    bad_keys = []
    for i in json_dicts:
        if len(json_dicts[i]) == 0:
            bad_keys.append(i) 

    for i in bad_keys:
        del json_dicts[i]




    df_dicts = {}

    for i in json_dicts:
        df_dicts[i] = pd.DataFrame(json_dicts[i])

    for i in df_dicts:

        if 'avg_weekly_pay' in i:
            df_dicts[i][i] = df_dicts[i]['value']
            df_dicts[i]['date'] = df_dicts[i].apply(lambda x: x['year'] + x['period'][1:], axis=1)
            df_dicts[i] = pd.concat([df_dicts[i]['date'], df_dicts[i][i]], axis=1)

        elif 'all_employees' in i:
            df_dicts[i][i] = df_dicts[i]['value']
            df_dicts[i]['date'] = df_dicts[i].apply(lambda x: x['year'] + x['period'][1:], axis=1)
            df_dicts[i] = pd.concat([df_dicts[i]['date'], df_dicts[i][i]], axis=1)

        cols = [j for j in df_dicts[i] if j != 'date']
        df_dicts[i][cols] = df_dicts[i][cols].apply(pd.to_numeric, errors='coerce')

    for df_key in df_dicts:

        wp_mask = df_key.split('all')[0] + 'avg_weekly_pay'

        if 'all_employees' in df_key:

            df_dicts[df_key][wp_mask] = 0

            for index, period in df_dicts[df_key]['date'].iteritems():
                if period[4:] in ['01', '02', '03']:
                    df_dicts[df_key].loc[index, wp_mask] = 4 * df_dicts[wp_mask][df_dicts[wp_mask]['date']==(period[:4]+'01')][wp_mask].iloc[0]
                if period[4:] in ['04', '05', '06']:
                    df_dicts[df_key].loc[index, wp_mask] = 4 * df_dicts[wp_mask][df_dicts[wp_mask]['date']==(period[:4]+'02')][wp_mask].iloc[0]
                if period[4:] in ['07', '08', '09']:
                    df_dicts[df_key].loc[index, wp_mask] = 4 * df_dicts[wp_mask][df_dicts[wp_mask]['date']==(period[:4]+'03')][wp_mask].iloc[0]
                if period[4:] in ['10', '11', '12']:
                    df_dicts[df_key].loc[index, wp_mask] = 4 * df_dicts[wp_mask][df_dicts[wp_mask]['date']==(period[:4]+'04')][wp_mask].iloc[0]

            df_dicts[df_key].rename(columns={wp_mask: df_key.split('all')[0] + 'avg_monthly_pay'}, inplace=True)
            df_dicts[df_key][df_key.split('all')[0] + 'aggr_value'] = df_dicts[df_key][df_key] * df_dicts[df_key][df_key.split('all')[0] + 'avg_monthly_pay']

    merged_df = pd.DataFrame(columns=['date'])

    for df_key in df_dicts:
        if 'all_employees' in df_key:
            merged_df = pd.merge(merged_df, df_dicts[df_key], how = 'outer', on ='date')

    temp_merge = merged_df.drop('date', axis=1)
    temp_cols = [i for i in temp_merge.columns if 'aggr_val' in i]
    merged_df['total_industries_aggr_value'] = temp_merge[temp_cols].apply(lambda x: sum(x), axis=1)
    
    #Reverses Dates:
    merged_df = merged_df[::-1]
    #Formates Dates year and month split
    merged_df['date'] = [x[:4]+'-'+x[4:8] for x in merged_df['date']]
    
    return pd.DataFrame(merged_df)

In [28]:
city = "StLucie"
start = "2015"
end = "2018"
code= "12111"

In [31]:
df0 = bls_pull(registration_key='e39c640df8fc4b489eac62b6e6150d06', start_year=start, end_year=end, area_code=code)

In [5]:
df.head()

,date,natural_resources_mining_all_employees,natural_resources_mining_avg_monthly_pay,natural_resources_mining_aggr_value,construction_all_employees,construction_avg_monthly_pay,construction_aggr_value,manufacturing_all_employees,manufacturing_avg_monthly_pay,manufacturing_aggr_value,...,leisure_hospitality_all_employees,leisure_hospitality_avg_monthly_pay,leisure_hospitality_aggr_value,other_services_all_employees,other_services_avg_monthly_pay,other_services_aggr_value,unclassified_all_employees,unclassified_avg_monthly_pay,unclassified_aggr_value,total_industries_aggr_value
44,2015-01,1671,2096,3502416,3667,2504,9182168,2960,3268,9673280,...,8367,1448,12115416,3056,1916,5855296,71,1760,124960,152669264
43,2015-02,1670,2096,3500320,3757,2504,9407528,2999,3268,9800732,...,8608,1448,12464384,3036,1916,5816976,81,1760,142560,154648128
42,2015-03,1708,2096,3579968,3809,2504,9537736,2972,3268,9712496,...,8902,1448,12890096,2924,1916,5602384,82,1760,144320,155199960
41,2015-04,1486,2232,3316752,3808,2676,10190208,3028,3400,10295200,...,8771,1936,16980656,2938,1944,5711472,98,1688,165424,158131800
40,2015-05,1324,2232,2955168,3822,2676,10227672,2999,3400,10196600,...,8688,1936,16819968,2928,1944,5692032,102,1688,172176,157483812

In [32]:
df0

{'status': 'REQUEST_NOT_PROCESSED',
 'responseTime': 0,
 'message': ['Request could not be serviced, as the daily threshold for total number of requests allocated to the user has been reached.'],
 'Results': {}}

In [33]:
def bls_pull(registration_key, area_code, start_year, end_year):
    
    



    industries = {'11': 'natural_resources_mining',
                  '12': 'construction',
                  '13': 'manufacturing',
                  '21': 'trade_transportation_utilities',
                  '22': 'information',
                  '23': 'financial_activities',
                  '24': 'professional_business_services',
                  '25': 'education_health_services',
                  '26': 'leisure_hospitality',
                  '27': 'other_services',
                  '28': 'public_administration',
                  '29': 'unclassified'}

    data_names = {'1': 'all_employees',
                  '4': 'avg_weekly_pay'}




    json_dicts = {}

    for i_code, i_name in industries.items():

        for d_code, d_name in data_names.items():

            headers = {'Content-type': 'application/json'}
            data = json.dumps({"seriesid": ['ENU'+ area_code + d_code + '0510' + i_code],'registrationkey': registration_key, 
                               "startyear": start_year, "endyear": end_year})
            p = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
            json_data = json.loads(p.text)

            json_dicts[i_name + '_' + d_name] = json_data['Results']['series'][0]['data']

    bad_keys = []
    for i in json_dicts:
        if len(json_dicts[i]) == 0:
            bad_keys.append(i) 

    for i in bad_keys:
        del json_dicts[i]




    df_dicts = {}

    for i in json_dicts:
        df_dicts[i] = pd.DataFrame(json_dicts[i])

    for i in df_dicts:

        if 'avg_weekly_pay' in i:
            df_dicts[i][i] = df_dicts[i]['value']
            df_dicts[i]['date'] = df_dicts[i].apply(lambda x: x['year'] + x['period'][1:], axis=1)
            df_dicts[i] = pd.concat([df_dicts[i]['date'], df_dicts[i][i]], axis=1)

        elif 'all_employees' in i:
            df_dicts[i][i] = df_dicts[i]['value']
            df_dicts[i]['date'] = df_dicts[i].apply(lambda x: x['year'] + x['period'][1:], axis=1)
            df_dicts[i] = pd.concat([df_dicts[i]['date'], df_dicts[i][i]], axis=1)

        cols = [j for j in df_dicts[i] if j != 'date']
        df_dicts[i][cols] = df_dicts[i][cols].apply(pd.to_numeric, errors='coerce')

    for df_key in df_dicts:

        wp_mask = df_key.split('all')[0] + 'avg_weekly_pay'

        if 'all_employees' in df_key:

            df_dicts[df_key][wp_mask] = 0

            for index, period in df_dicts[df_key]['date'].iteritems():
                if period[4:] in ['01', '02', '03']:
                    df_dicts[df_key].loc[index, wp_mask] = 4 * df_dicts[wp_mask][df_dicts[wp_mask]['date']==(period[:4]+'01')][wp_mask].iloc[0]
                if period[4:] in ['04', '05', '06']:
                    df_dicts[df_key].loc[index, wp_mask] = 4 * df_dicts[wp_mask][df_dicts[wp_mask]['date']==(period[:4]+'02')][wp_mask].iloc[0]
                if period[4:] in ['07', '08', '09']:
                    df_dicts[df_key].loc[index, wp_mask] = 4 * df_dicts[wp_mask][df_dicts[wp_mask]['date']==(period[:4]+'03')][wp_mask].iloc[0]
                if period[4:] in ['10', '11', '12']:
                    df_dicts[df_key].loc[index, wp_mask] = 4 * df_dicts[wp_mask][df_dicts[wp_mask]['date']==(period[:4]+'04')][wp_mask].iloc[0]

            df_dicts[df_key].rename(columns={wp_mask: df_key.split('all')[0] + 'avg_monthly_pay'}, inplace=True)
            df_dicts[df_key][df_key.split('all')[0] + 'aggr_value'] = df_dicts[df_key][df_key] * df_dicts[df_key][df_key.split('all')[0] + 'avg_monthly_pay']

    merged_df = pd.DataFrame(columns=['date'])

    for df_key in df_dicts:
        if 'all_employees' in df_key:
            merged_df = pd.merge(merged_df, df_dicts[df_key], how = 'outer', on ='date')

    temp_merge = merged_df.drop('date', axis=1)
    temp_cols = [i for i in temp_merge.columns if 'aggr_val' in i]
    merged_df['total_industries_aggr_value'] = temp_merge[temp_cols].apply(lambda x: sum(x), axis=1)
    
    #Reverses Dates:
    merged_df = merged_df[::-1]
    #Formates Dates year and month split
    merged_df['date'] = [x[:4]+'-'+x[4:8] for x in merged_df['date']]
    
    return pd.DataFrame(merged_df)

In [34]:
df = bls_pull(registration_key='213d94fbcbe941269843d7d2b26440b0', start_year=start, end_year=end, area_code=code)

In [35]:
df.head()

,date,natural_resources_mining_all_employees,natural_resources_mining_avg_monthly_pay,natural_resources_mining_aggr_value,construction_all_employees,construction_avg_monthly_pay,construction_aggr_value,manufacturing_all_employees,manufacturing_avg_monthly_pay,manufacturing_aggr_value,...,leisure_hospitality_all_employees,leisure_hospitality_avg_monthly_pay,leisure_hospitality_aggr_value,other_services_all_employees,other_services_avg_monthly_pay,other_services_aggr_value,unclassified_all_employees,unclassified_avg_monthly_pay,unclassified_aggr_value,total_industries_aggr_value
44,2015-01,1671,2096,3502416,3667,2504,9182168,2960,3268,9673280,...,8367,1448,12115416,3056,1916,5855296,71,1760,124960,152669264
43,2015-02,1670,2096,3500320,3757,2504,9407528,2999,3268,9800732,...,8608,1448,12464384,3036,1916,5816976,81,1760,142560,154648128
42,2015-03,1708,2096,3579968,3809,2504,9537736,2972,3268,9712496,...,8902,1448,12890096,2924,1916,5602384,82,1760,144320,155199960
41,2015-04,1486,2232,3316752,3808,2676,10190208,3028,3400,10295200,...,8771,1936,16980656,2938,1944,5711472,98,1688,165424,158131800
40,2015-05,1324,2232,2955168,3822,2676,10227672,2999,3400,10196600,...,8688,1936,16819968,2928,1944,5692032,102,1688,172176,157483812